<!-- Contact-Content Section -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Anwenderliste - Kontakt</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
               <a href="index.php">Anwenderliste</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Kontakt:</h3>

            <div id="readContact"></div>
        </div>
    </div>
</div>
<!-- /Contact-Content Section -->