<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Anwenderliste</title>

    <!-- Bootstrap CSS File  -->
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css"/>
</head>
<script>
//var for crud javascript class instance
var crud = null;
{% if data.templateEngine == "underscore" %}
var records = null;
{% endif %}
</script>
<body>