<!-- Modal - Add New Record/User -->
{% if records | length > 0 %}
	{% for key, item in records %}
        <div class="modal fade" id="{{ item.ref | escape }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Neuer Datensatz</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="first_name">Vorname</label>
                            <input type="text" id="{{ item.ref | escape }}_first_name" placeholder="Vorname" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="last_name">Nachname</label>
                            <input type="text" id="{{ item.ref | escape }}_last_name" placeholder="Nachname" class="form-control"/>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="{{ item.ref | escape }}_email" placeholder="Email" class="form-control"/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbruch</button>
                        <button type="button" class="btn btn-primary" onclick="crud.call('addRecord',{id: '', ref2: 'newRecord', model: 'users', remove: true, method: 'post', reload: 'readRecords', conf: '', render: 'prepend'})">Hinzufügen</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
<!-- // Modal -->